@model BabyFeedingRecordWebApplication.Models.FeedingRecord

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FeedingRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FeedingDate" class="control-label"></label>
                <input asp-for="FeedingDate" class="form-control" />
                <span asp-validation-for="FeedingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeedingTime" class="control-label"></label>
                <input asp-for="FeedingTime" class="form-control" />
                <span asp-validation-for="FeedingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotherMilkVolume" class="control-label"></label>
                <input asp-for="MotherMilkVolume" class="form-control" />
                <span asp-validation-for="MotherMilkVolume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormularMilkVolume" class="control-label"></label>
                <input asp-for="FormularMilkVolume" class="form-control" />
                <span asp-validation-for="FormularMilkVolume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Memo" class="control-label"></label>
                <input asp-for="Memo" class="form-control" />
                <span asp-validation-for="Memo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
